* {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(youth.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: blur(5px);
    z-index: -1;
}

nav {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
    height: 55px;
}
.nav-title {
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}
nav a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 25px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #ececec;
}
@media(max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}
.menu-btn {
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    list-style-type: none;

    background: rgba(255,255,255,0.97);
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 15px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;

    padding-top: 70px; 
    gap: 10px;

    transition: right 0.3s ease;
}
.sidebar-title {
    font-size: 22px;
    font-weight: bold;
    padding: 15px 25px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar a {
    width: 100%;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sidebar a:hover {
    background: #f5f5f5;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 8px 15px;
    background: #ffd7d7;
    border-radius: 5px;

    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .sidebar {
    right: 0;
}
.content {
    margin-top: 80px; 
    padding: 20px;
}
